<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- Add a category button --> 
    <div class="modal fade" id="categoryModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                 
                </div>
                <div class="modal-body">
                    <form id="category-form" method="post" action="{% url 'add_category' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="category-name" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="category-name" name="name" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
